/**
* Button styles
*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.superhero-button-container,
.superher-button-link-holder {
  display: inline-block;
}


.supehero-button-tips-amount {
  font-size: 32px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  text-align: center;
  padding: 19px 0;
  border: 1px solid #BABAC0;
  border-radius: 5px;
  margin-bottom: 14px;
}

.supehero-button-tips-amount:after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: -7.2px;
  left: 50%;
  background: #fff;
  border-left: 1px solid #BABAC0;
  border-bottom: 1px solid #BABAC0;
  transform: translateX(-50%) rotate(-45deg);
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
}

.supehero-button-tips-amount .ae {
  color: #2A9CFF;
}

.superhero-button-link {
  background: #1C1C24;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 16px 10px 13px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 900;
  line-height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.superhero-button-link span {
  margin-left: 7px;
}

/**
* Other sizes styles
*/
.superhero-button-medium,
.superhero-button-small {
  display: flex;
  align-items: stretch;
}

.superhero-button-medium .supehero-button-tips-amount:after,
.superhero-button-small .supehero-button-tips-amount:after {
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  border: none;
  border-left: 1px solid #BABAC0;
  border-top: 1px solid #BABAC0;
  bottom: auto;
}


/**
* Medium size
*/

.superhero-button-medium .supehero-button-tips-amount {
  display: inline-block;
  font-size: 15px;
  padding: 11px 10px;
  margin-bottom: 0;
  margin-left: 15px;
  line-height: 17px;
}

.superhero-button-medium .supehero-button-tips-amount:after {
  width: 9px;
  height: 9px;
  left: -6px;
  top: 50%;
}

/**
* Small size
*/

.superhero-button-small .supehero-button-tips-amount {
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  padding: 8px 5px;
  margin-bottom: 0;
  margin-left: 15px;
}

.superhero-button-small .supehero-button-tips-amount:after {
  width: 9px;
  height: 9px;
  left: -6px;
  top: 50%;
}

.superhero-button-small .superhero-button-link {
  font-size: 13px;
  padding: 7px 13px 7px 8px;
}

.superhero-button-small img {
  width: 18px;
  height: 14px;
}


/**
*
*/ 
.superhero-button-icon {
  width: 40px;
  height: 40px;
}
.superhero-button-icon .superhero-button-link {
  padding: 9px 7px;
}
