$primary_color: #5F4191;//#FF0D6A;
$secondary_color: #FF0D6A;
$light_color: #F1F1F1;
$background_color: #DEDEDE;
$sidenav_background_color: #EFEFEF;
$article_content_color: #F9F9F9;
$standard_font_color: #5C5C5C;
$light_font_color: #C6C6C6;

//Dimentions
$article_section_width: 24.375rem;
$article_image_width: 5.625rem;
$article_image_height: 3.375rem;

$avatar_image_width: 2rem;
$avatar_image_radius: 2rem;