$primary_color: #5F4191;//#FF0D6A;
$secondary_color: #FF0D6A;
$light_color: #EFEFEF;
$background_color: #DFDFDF;
$article_content_color: #F9F9F9;
$standard_font_color: #4D4D4D;
$light_font_color: #949494;
$border_color: #D9D9D9;

$search_icon_backgound: #C1C1C1;
$white_color: #fff;

//Dimentions
$article_section_width: 24.375rem;
$article_image_width: 5.625rem;
$article_image_height: 3.375rem;

$avatar_image_width: 2rem;
$avatar_image_radius: 2rem;