@import "variables";
//Bootstrap customizations go here:
$theme-colors: (
  "primary": $primary_color,
  "light": $light_color
); 

@import "node_modules/bootstrap/scss/bootstrap";

body{
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
}

.app-container{
  margin: 0 auto;
  width: 90vw;
  padding: 3rem 0;
}

.btn{
  font-size: .75rem;
  &.btn-light{
    color: $primary_color;
  }
}
