$primary_color: #D9D9D9;
$secondary_color: #2A9CFF;
$light_color: #21222C;
$background_color: #1C1C24;
$article_content_color: #12121B;
$standard_font_color: #FFF;
$light_font_color: #727278;
$border_color: #D9D9D9;
$white_color: #21212A;

$actions_ribbon_background_color: #272831;
$search_nav_border_color: #707070;
$thumbnail_background_color: #2C2E37;
$preview_description_font_color: #90909C;
$buttons_background: #1D1E27;

//Custom styles
$custom_links_color: #67F7B8;
$search_icon_hover_color: $white_color;
$search_icon_backgound: #52528B;
$article_description_color: #96969B;
$comment_text_color: #8F9095;
$tip_note_color: #BABAC0;
$text_content_color: #D2D2D4;
