// This file is included multiple times in every scss file and component, do not put any rendered styles

$primary_color: #D9D9D9;//#FF0D6A;
$secondary_color: #F72A6E;
$light_color: #21222C;
$background_color: #14151F;
$article_content_color: #1D1E27;
$standard_font_color: #FFF;
$light_font_color: #727278;
$border_color: #D9D9D9;
$white_color: #21212A;

$actions_ribbon_background_color: #272831;
$dark_background: #12121B;
$search_nav_border_color: #707070;
$thumbnail_background_color: #2E2F38;

//Custom styles
$custom_links_color: #67B6F7;
$search_icon_hover_color: $white_color;
$search_icon_backgound: #52528B;
$comment_text_color: #8F9095;
$tip_note_color: #BABAC0;

