// This file is included multiple times in every scss file and component, do not put any rendered styles

//  $primary_color: #5F4191;//#FF0D6A;
//  $secondary_color: #FF0D6A;
//  $light_color: #EFEFEF;
// /*White Theme*/
//  $background_color: #DFDFDF;
//  $article_content_color: #F9F9F9;
//  $standard_font_color: #4D4D4D;
//  $light_font_color: #949494;
//  $border_color: #D9D9D9;

// //Custom styles
// $custom_links_color: $primary_color;
//  $search_icon_backgound: #C1C1C1;
//  $search_icon_hover_color: #fff;

//  $white_color: #fff;
/*Dark Theme*/
// $background_color: #505058;
// $article_content_color: #21212A;
// $standard_font_color: #D9D9D9;
// $light_font_color: #F1F1F1;
$primary_color: #D9D9D9;//#FF0D6A;
$secondary_color: #F72A6E;
$light_color: #21222C;
$background_color: #14151F;
$article_content_color: #1D1E27;
$standard_font_color: #FFF;
$light_font_color: #727278;
$border_color: #D9D9D9;
$white_color: #21212A;

$header_background_color: #525258;
$actions_ribbon_background_color: #272831;
$tip_list_background_color: #1D1D23;
$record_footer_border_color: #1D1D23;
$search_nav_border_color: #707070;
$thumbnail_background_color: #2E2F38;

$colorful_buttons_background_primary: #253449;
$colorful_buttons_background_secondary: #41182E;

//Custom styles
//$custom_links_color: #9FB2FC;
$wizard_links:#78c8e7;
$custom_links_color: #67B6F7;
$search_icon_hover_color: $white_color;
$search_icon_backgound: #52528B;
$article_description_color: #96969B;
$comment_text_color: #8F9095;
$tip_note_color: #BABAC0;

//Dimentions
$article_section_width: 24.375rem;
$article_image_width: 5.625rem;
$article_image_height: 3.375rem;

$avatar_image_width: 2rem;
$avatar_image_radius: 2rem;
