$primary_color: #d9d9d9;
$secondary_color: #2a9cff;
$light_color: #21222c;
$background_color: #1c1c24;
$article_content_color: #12121b;
$standard_font_color: #fff;
$light_font_color: #727278;
$border_color: #d9d9d9;
$white_color: #21212a;

$actions_ribbon_background_color: #272831;
$search_nav_border_color: #707070;
$thumbnail_background_color: #2a2b35;
$thumbnail_background_color_alt: #33343e;
$preview_description_font_color: #90909c;
$buttons_background: #1d1e27;

//Custom styles
$custom_links_color: #67f7b8;
$search_icon_hover_color: $white_color;
$search_icon_backgound: #52528b;
$article_description_color: #96969b;
$comment_text_color: #8f9095;
$tip_note_color: #babac0;
$text_content_color: #d2d2d4;
