$primary_color: #bcbcc0;
$secondary_color: #1161fe;
$light_color: #0f0f0f;
$background_color: #000;
$article_content_color: #0f0f0f;
$standard_font_color: #fff;
$light_font_color: #787878;
$lighter_font_color: #7d7e83;
$border_color: #bcbcc0;
$white_color: #21212a;
$pure_white: #fff;
$red_color: #ff4746;
$sunshade: #ffaa29;
$purple_heart: #6224c7;

$actions_ribbon_background_color: #090909;
$search_nav_border_color: #707070;
$thumbnail_background_color: #0f0f0f;
$thumbnail_hover_color: #1c1c1c;
$thumbnail_background_color_alt: #272727;
$preview_description_font_color: #90909c;
$buttons_background: #141414;
$card_border_color: #2f2f2f;
$card_hover_color: #191919;
$tab_hover_color: #1c1c1c;
$chart_background_color: #171717;

$super_dark: #0f0f0f;
$small_heading_color:#7a7a7f;
$custom_links_color: #00ff9d;
$search_icon_hover_color: $white_color;
$search_icon_backgound: #52528b;
$comment_text_color: #8f9095;
$tip_note_color: #babac0;
$text_content_color: #d2d2d4;
$warning_font_color: #ffdc50;
$button_hover_color: #0e52d8;

$mobile_navigation_height: 3rem;
