@import "variables";
@import "mixins";

//Bootstrap customizations go here:
$theme-colors: (
  "primary": $primary_color,
  "light": $light_color
); 

@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap-vue/src/index.scss';

/* Global Styles */
body{
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  background-color: $background_color;
}

.btn{
  font-size: .75rem;
  &.btn-light{
    color: $primary_color;
  }
}

.app-container{
  margin: 0 auto;
  width: 90vw;
  padding: 3.5rem 0;
}

 .articles-section{
  width: $article_section_width;
 }

 .content-area{
  width: calc(100% - #{$article_section_width});
 }

 /* Helpers */
 .text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app__leftcolumn, .app__rightcolumn{
  width: calc(50% - 17.5rem);
}

@media (min-width: 768px) {
  .container {
    max-width: 27rem;
  }
  .app__leftcolumn, .app__rightcolumn{
    width: calc(50% - 13.5rem);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 35rem
  }
  .app__leftcolumn, .app__rightcolumn{
    width: calc(50% - 17.5rem);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 35rem
  }
  .app__leftcolumn, .app__rightcolumn{
    width: calc(50% - 17.5rem);
  }
}

@media only screen and (max-width: 860px) {
  .container{
    width: 100%;
  }
  .app__leftcolumn, .app__rightcolumn{
   display: none;
  }
}