//Bootstrap customizations go here:
$theme-colors: (
  "primary": $primary_color,
  "light": $light_color
);

@import "fonts";
@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap-vue/src/index.scss';

/* Global Styles */
body {
  background-color: $background_color;
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  overflow-y: overlay;
}

a:hover{
  text-decoration: none;
}

.btn {
  font-size: .75rem;

  &.btn-light {
    color: $primary_color;
  }
}

/* Helpers */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button, a.button {
  background: transparent;
  border: .05rem solid $standard_font_color;
  border-radius: .25rem;
  color: $standard_font_color;
  display: inline-block;
  font-size: .75rem;
  font-weight: 600;
  padding: .625rem 2.15rem .725rem 2.15rem;
  text-align: center;

  &:hover {
    border: .05rem solid $custom_links_color;
    color: $custom_links_color;
    cursor: pointer;
    text-decoration: none;
  }

  &.small {
    padding: .425rem 1rem .425rem 1rem;
  }
}

.input-group, .form-group {
  .form-control {
    border: .05rem solid transparent;
    box-shadow: none;

    &:focus {
      border: .05rem solid $custom_links_color;
    }
  }
}

.input-group {
  padding-left: 0;
  padding-right: 0;

  .form-control {
    background-color: $background_color;
    border: 1px solid $white_color;
    color: $standard_font_color;
    font-size: .75rem;
  }

  .input-group-text {
    background-color: $search_icon_backgound;
    border: 1px solid $white_color;

    &:hover {
      background-color: $primary_color;
      cursor: pointer;

      .fas.fa-search {
        color: $search_icon_hover_color;
      }
    }

    &:active {
      background-color: $secondary_color;
    }
  }

  .fas.fa-search {
    color: $standard_font_color;
  }
}

@media only screen and (max-width: 768px) {
  .header__body.container {
    display: block;
    margin: 0 auto;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
