@import "variables";
@import "mixins";

//Bootstrap customizations go here:
$theme-colors: (
  "primary": $primary_color,
  "light": $light_color
); 

@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap-vue/src/index.scss';

/* Global Styles */
body{
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  background-color: $background_color;
}

.btn{
  font-size: .75rem;
  &.btn-light{
    color: $primary_color;
  }
}

.container.wrapper{
  padding-top: .5rem;
}
 /* Helpers */
 .text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button, a.button{
  background: transparent;
  display: inline-block;
  font-weight: 600;
  font-size: .75rem;
  color: $standard_font_color;
  border: .05rem solid $standard_font_color;
  border-radius: .25rem;
  padding: .625rem 2.15rem .725rem 2.15rem;
  text-align: center;
  &:hover{
    cursor: pointer;
    text-decoration: none;
    color: $custom_links_color;
    border: .05rem solid $custom_links_color;
  }
  &.small{
    padding: .425rem 1rem .425rem 1rem;
  }
}

.input-group{
  padding-left: 0;
  padding-right: 0;
  .form-control{
    background-color: $background_color;
    color: $standard_font_color;
    font-size: .75rem;
    border: 1px solid $white_color;
  }
  .input-group-text{
    background-color: $search_icon_backgound;
    border: 1px solid $white_color;
    &:hover{
      cursor: pointer;
      background-color: $primary_color;
      .fas.fa-search{
        color: $search_icon_hover_color;
      }
    }
    &:active{
       background-color: $secondary_color;
    }
  }
  .fas.fa-search{
    color: $standard_font_color;
  }
}
.app__leftcolumn, .app__rightcolumn{
  width: calc(50% - 16rem);
}

@media only screen and (max-width: 768px) {
  .header__body.container{
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 25rem;
  }
  .app__leftcolumn, .app__rightcolumn{
    width: calc(50% - 12.5rem);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 27rem
  }
  .app__leftcolumn, .app__rightcolumn{
    width: calc(50% - 14rem);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 31rem
  }
  .app__leftcolumn, .app__rightcolumn{
    width: calc(50% - 16rem);
  }
}

@media only screen and (max-width: 900px) {
  .app__leftcolumn, .app__rightcolumn{
   display: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}