//Bootstrap customizations go here:
$theme-colors: (
  "primary": $primary_color,
  "light": $light_color
);

@import "fonts";
@import "node_modules/bootstrap/scss/bootstrap";

/* Global Styles */
body {
  background-color: $background_color;
  color: $primary_color;
  font-family: IBM Plex Sans, sans-serif;
  overflow-x: hidden;
  overflow-y: overlay;
}

a:hover {
  text-decoration: none;
}

.btn {
  font-size: 0.75rem;

  &:focus {
    box-shadow: none !important;
  }
}

/* Helpers */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vertical-align-mid {
  vertical-align: middle;
}

.input-group,
.form-group {
  .form-control {
    border: 0.05rem solid transparent;
    box-shadow: none;
    transition: none;

    &:focus {
      border: 0.05rem solid $secondary_color;
    }
  }
}

.input-group {
  padding-left: 0;
  padding-right: 0;

  .form-control {
    background-color: $buttons_background;
    border: 1px solid $white_color;
    color: $standard_font_color;
    font-size: 0.75rem;
    height: 2.2rem;
  }
}

img.fail {
  visibility: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
