:root {
  --left-column-margin: 11rem;
  --container-width: 31rem;
}

html {
  font-size: 100%;
}

.min-h-screen > div {
  margin: 0 auto;
  max-width: 61rem;
}

.app__leftcolumn {
  box-sizing: content-box;
  height: 0;
  padding-left: 1rem;
  padding-right: 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0.7rem;
  width: 9.2rem;
}

.app__rightcolumn {
  height: 0;
  left: 100%;
  max-width: 18rem;
  order: 3;
  padding-left: 0.5rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0.7rem;
}

/* handle 1,2,3 column layouts */
.container.wrapper {
  padding: 0;
  position: sticky;
  top: 0;
}

.app__leftcolumn ~ .container.wrapper {
  margin-left: var(--left-column-margin);
  max-width: calc(100% - var(--left-column-margin));
  margin-right: auto;
}

.app__leftcolumn + div:not([class]),
.app__rightcolumn ~ .container.wrapper {
  margin-left: var(--left-column-margin);
  max-width: var(--container-width);
  margin-right: auto;
}

@media (max-width: 1024px) {
  .app__leftcolumn,
  .app__rightcolumn {
    display: none;
  }

  :root {
    --left-column-margin: auto;
    --container-width: 25rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 125%;
  }
}

@media (min-width: 1440px) {
  .app__leftcolumn {
    padding-left: 0;
  }

  .app__rightcolumn {
    padding-right: 0;
  }
}
